# Node.js / Angular
node_modules/
dist/
coverage/
.angular/
my-angular-app/

# .NET
bin/
obj/
.sonarqube/
TestResults/
*.user

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
coverage.xml
test-results.xml
.coverage

# Go
coverage.out
test-report.json
vendor/

# Java / Maven
target/
*.class

# SonarQube scanner cache
.scannerwork/

# Editor
.idea/
.vscode/
*.swp
.DS_Store
