root = true

[*]
indent_style = space
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{xml,config,csproj,nuspec,props,resx,targets,yml,tasks,json,md,ts,cshtml}]
indent_size = 2

[*.{cs,sln}]
indent_size = 4
dotnet_sort_system_directives_first = true
